<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <a href="/main"> Главная (main)</a><br>
    <a href="/main?name=Serg"> Главная (main - name Serg)</a>
</body>
</html>