<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div>Вы вошли как {{user}}</div>
<div>
    <form action="/logout" method="post">
        <input type="hidden" name="_csrf" value="{{_csrf.token}}">
        <input type="submit" value="Log out">
    </form>
</div>
<div>
    <form method="post" action="/main">
        <input type="hidden" name="_csrf" value="{{_csrf.token}}">
        <lable id="name">Сообщение</lable>
        <input type="text" name="text" id="name" placeholder="Текст сообщения">
        <lable id="name">Тэг</lable>
        <input type="text" name="tag" placeholder="Тэг">
        <button type="submit">Отправить</button>
    </form>
</div>

<div>
    Фильтрация
    <form method="post" action="filter">
        <input type="hidden" name="_csrf" value="{{_csrf.token}}">
        <lable id="filter">Фильтр</lable>
        <input type="text" name="filter" id="filter" placeholder="Тэг">
        <button type="submit">Найти</button>
    </form>
</div>

<div>Список сообщений</div>
<div>
    {{#messages}}
    <div>
        <b>{{id}}</b>
        <span>{{text}}</span>
        <i>{{tag}}</i>
        <strong>{{author.username}}</strong>
    {{/messages}}
</div>
</div>
</body>
</html>