<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
{{some}}<br>
<a href="/greeting">Greeting</a><br>
<a href="/greeting?name=Сергей">Greeting c параметром Сергей</a>
</body>
</html>