<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <p>Hello, {{name}}!</p>
<div>
    {{#messages}}
        <b>{{id}}</b>
        <span>{{text}}</span>
        <span>{{tag}}</span>
    {{/messages}}
</div>
</body>
</html>